

<p-sidebar [(visible)]="visibleSidebar" position="left" [baseZIndex]="10000" >

  <h2 style="font-weight:normal">Main Sidebar</h2>

  <p-button type="button"  (click)="callAll()" label="All Todo" ></p-button>

</p-sidebar>



<p-menubar>
  <ng-template pTemplate="start">
    <p-button   *ngIf="logged" type="button"  (click)="visibleSidebar = true" icon="pi pi-arrow-right"></p-button>
  </ng-template>

  <ng-template pTemplate="end">
    <label>
      <input type="text" pInputText placeholder="Search">
    </label>
    <button type="button" *ngIf="logged" (click)="toggleLogin()" pButton label="Logout" icon="pi pi-power-off" style="margin-left:.25em"></button>
    <button type="button" *ngIf="!logged" (click)="toggleLogin()" pButton label="Login" icon="pi pi-power-on" style="margin-left:.25em"></button>
    <span *ngIf="logged">Username</span>
  </ng-template>

</p-menubar>
