<img src="assets/home.png" alt="" class="center">


<div class="container">
  <h1>SOFTWARE SOLUTION FOR COMMERCIAL FINANCE, SUPPLY CHAIN FINANCE, CONSUMER FINANCE & DEBT COLLECTION</h1>
  <button (click)="incrementCount()">Increment!</button>
  &nbsp;
  {{ counter$ | async}}
  &nbsp;
  <button (click)="decrementCount()">Decrement!</button>

</div>
