.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.container {
  padding-right: 5em;
  padding-left: 5em;
  margin-right: 10em;
  margin-left: 10em;


  background: #f5f5f5;
  font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #696969;

  line-height: 1.9em;

  text-align: justify;

}

h1{
  color: blue;
}
