<div>
  <div class="all-todos-container">
    <app-create-todo (createdTodo)="created($event)"></app-create-todo>
    <hr>

      <div class="todos-list" *ngIf="todos$ | async">
        <ng-container *ngFor="let todo of todos$ | async; trackBy: trackTodo" >
          <app-single-todo class="todo-info"  [info]="todo"
                           (deleteTodo)="deleted($event)"></app-single-todo>
        </ng-container>

      </div>


  </div>
</div>
















