* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font: 18px/1.5 Verdana, sans-serif;
}

body, form, input, textarea, option, select, button {
  font: inherit;
}

p, ul, ol {
  padding-bottom: 1.5em;
}

ul, ol {
  padding-left: 2.5em;
}

blockquote,
h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, serif;
}

h1, h2, h3, h4, h5, h6 {
  padding-bottom: 0.5rem;
  padding-top: 1.5rem;
  font-weight: normal;
}

h1 { font-size: 2.6em; }
h2 { font-size: 2.0em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }

.spacer {
  flex: 1 1;
}

.outlet-container {
  padding: 3em;
}

.app-sidenav {
  background-color: #eee;
  /*padding: 10px;*/
}

.container {
  min-height: 100vh;
}

.clickable {
  cursor: pointer;
}

