<app-navbar></app-navbar>

<!--<mat-drawer-container color="primary" class="container" autosize>-->
<!--  <mat-drawer opened #drawer mode="side" class="app-sidenav">-->
<!--    <app-sidenav></app-sidenav>-->
<!--  </mat-drawer>-->

  <div class="outlet-container">

    <router-outlet></router-outlet>

  </div>
<!--</mat-drawer-container>-->
