<p-fieldset legend="Create Todo" [toggleable]="true">
  <p-card header="Create Todo" [style]="{width: '300px'}">
    <div class="p-float-label">
      <input id="float-input" type="text" pInputText [(ngModel)]="this.todoName">
      <label for="float-input">Todo name</label>
    </div>
    <div class="p-field p-col-12 p-md-4">
      <p-calendar [(ngModel)]="this.todoDate" [showIcon]="true"></p-calendar>
    </div>
    <ng-template pTemplate="footer">
      <p-button (click)="create()" label="Create" icon="pi pi-check"></p-button>
    </ng-template>
  </p-card>
</p-fieldset>
