
<div *ngIf="todo">
  <p-card   [style]="{width: '300px'}" styleClass="ui-card-shadow">
    <span>Title: </span>{{todo.title}}
    <hr>
    <div class="p-field-checkbox">
      <label> Completed </label>
      <p-checkbox [(ngModel)]="todo.completed" binary="true" inputId="binary"></p-checkbox>

    </div>
    <p-footer>
      <button (click)="todoDelete()" pButton type="button" label="Deleted" icon="pi pi-times"
              class="ui-button-secondary"></button>
    </p-footer>
  </p-card>
</div>
